<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="article-nav sticky">
        <div class="article-nav-sticky-top">
          <nav class="table-of-contents">
            <h2 class="table-of-contents-header">CONTENTS</h2>
            <ol class="table-of-contents-list">
              <li class="table-of-contents-list-item">
                <a class="table-of-contents-list-item-span" href="#video">Video</a>
              </li>
              <li class="table-of-contents-list-item">
                <a class="table-of-contents-list-item-span">About the talk</a>
              </li>
              <li class="table-of-contents-list-item">
                <a class="table-of-contents-list-item-span">Resources</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>


    <div class="col-md-8">
      <h4 class="page-sub-title">
        // Courses //
      </h4>

      <h1 class="page-title">
        How to Deploy Your Application or Microservice on Kubernetes
      </h1>

      <div class="page-meta-data">
        Published on July 19, 2021 · Updated on July 28, 2021
      </div>

      <ul class="page-tags">
        <li class="tag-item">
          <a href="" class="tag-item-content">DigitalOcean Managed Kubernetes</a>
        </li>
        <li class="tag-item">
          <a href="" class="tag-item-content">Tech Talks</a>
        </li>
      </ul>

      <div class="producer-meta-data">
        <nz-avatar class="dashboard-avatar" nzSrc="/assets/icons/avatar/reshot-icon-support-XHV4L9BEUC.svg"></nz-avatar>
        <div class="producer-details">
          <p>
            By
            <a href="" class="producer-name">Kim Schlesinger</a>
          </p>
          <p class="producer-title">
            Developer Advocate
          </p>
        </div>
      </div>

      <img src="/assets/images/article-cover.jpeg" class="article-cover" alt="">

      <div class="article-area">
        <h2 id="video" class="article-subheading-area">
          <a class="article-area-subheading">Video  </a>
          <a href="" class="hash-anchor"></a>
        </h2>
      </div>

      <iframe src="https://www.youtube.com/embed/SfM-82abTkQ" class="youtube-video" height="423" width="752" style="aspect-ratio: 16/9" frameborder="0" allowfullscreen="">
        <a href="https://www.youtube.com/watch?v=SfM-82abTkQ" target="_blank">View YouTube video</a>
      </iframe>

      <div class="article-area">
        <h2 id="about-the-talk" class="article-subheading-area">
          <a href="" class="article-area-subheading">About the talk  </a>
          <a href="" class="hash-anchor"></a>
        </h2>
      </div>

      <p>Migrating containerized workloads to Kubernetes? See which Kubernetes resources work best, and how you can get multiple replicas of your application running simply, and quickly.</p>
      <p>At the end of this Tech Talk, you will be able to deploy your application or microservice as a Kubernetes Deployment.</p>
      <p>If you’re looking for a managed Kubernetes hosting service, <a href="">check out our simple, managed Kubernetes service built for growth</a>.</p>

      <div class="article-area">
        <h4 class="article-subheading-area">
          <a href="" class="article-area-subheading">What you'll learn </a>
          <a href="" class="hash-anchor"></a>
        </h4>
      </div>

      <ul class="article-unordered-list">
        <li>How Kubernetes deploys and manages groups of pods</li>
        <li>How to describe the use case for a Kubernetes Deployment</li>
        <li>How to create a YAML manifest for a Deployment</li>
        <li>How to create and inspect a Kubernetes Deployment</li>
      </ul>

      <div class="article-area">
        <h2 id="resources" class="article-subheading-area">
          <a href="" class="article-area-subheading">Resources </a>
          <a href="" class="hash-anchor"></a>
        </h2>
      </div>

      <p>Migrating containerized workloads to Kubernetes? See which Kubernetes resources work best, and how you can get multiple replicas of your application running simply, and quickly.</p>
      <p>At the end of this Tech Talk, you will be able to deploy your application or microservice as a Kubernetes Deployment.</p>

      <div class="remarks-div">
        <p>Thanks for learning with the DigitalOcean Community. Check out our offerings for compute, storage, networking, and managed databases.</p>
        <a href="" class="remarks-link">
          Learn more about us <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707l-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
        </a>
      </div>

      <div class="mt-5 mb-5">
        <hr class="article-divider">
      </div>

      <div class="about-the-authors">
        <div class="about-the-authors-area">
          <div class="about-the-authors-header">About the authors</div>
          <div class="producer-meta-data">
            <nz-avatar class="dashboard-avatar" nzSrc="/assets/icons/avatar/reshot-icon-support-XHV4L9BEUC.svg"></nz-avatar>
            <div class="producer-details">
            <span>
              By
              <a href="" class="producer-name">Kim Schlesinger</a>
              <p class="author-type-tag">Author</p>
            </span>
              <p class="producer-title">
                Developer Advocate
              </p>
            </div>
          </div>
          <div class="mt-3">
            <p class="author-description">
              I’m a developer advocate at DigitalOcean focusing on Kubernetes and other Cloud Native technologies
            </p>
          </div>
        </div>
      </div>

      <div class="more-help-card">
        <div class="question-search">
          <h4 class="question-search-title">Still looking for an answer?</h4>
          <a href="" class="question-search-button">Ask a question</a>
          <a href="" class="question-search-button">Search for more help</a>
        </div>
        <div class="mt-3 mb-3">
          <hr class="article-divider">
        </div>
        <div class="was-this-helpful">
          <div class="was-this-helpful-title">
            Was this helpful?
          </div>
          <div class="was-this-helpful-button-container">
            <button class="was-this-helpful-button">Yes</button>
            <button class="was-this-helpful-button">No</button>
          </div>
          <div class="was-this-helpful-divider"></div>
          <a href="" class="report-an-issue">Report an issue</a>
          <div class="was-this-helpful-socials">
            <a href="" class="was-this-helpful-social">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -4 24 24" width="24" fill="currentColor"><path d="M20 1.907a8.292 8.292 0 0 1-2.356.637A4.07 4.07 0 0 0 19.448.31a8.349 8.349 0 0 1-2.607.98A4.12 4.12 0 0 0 13.846.015c-2.266 0-4.103 1.81-4.103 4.04 0 .316.036.625.106.92A11.708 11.708 0 0 1 1.393.754a3.964 3.964 0 0 0-.554 2.03c0 1.403.724 2.64 1.824 3.363A4.151 4.151 0 0 1 .805 5.64v.05c0 1.958 1.415 3.591 3.29 3.963a4.216 4.216 0 0 1-1.08.141c-.265 0-.522-.025-.773-.075a4.098 4.098 0 0 0 3.832 2.807 8.312 8.312 0 0 1-5.095 1.727c-.332 0-.658-.02-.979-.056a11.727 11.727 0 0 0 6.289 1.818c7.547 0 11.673-6.157 11.673-11.496l-.014-.523A8.126 8.126 0 0 0 20 1.907z"></path></svg>
            </a>
            <a href="" class="was-this-helpful-social">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="-7 -2 24 24" width="24" fill="currentColor"><path d="M2.046 3.865v2.748H.032v3.36h2.014v9.986H6.18V9.974h2.775s.26-1.611.386-3.373H6.197V4.303c0-.343.45-.805.896-.805h2.254V0H6.283c-4.34 0-4.237 3.363-4.237 3.865z"></path></svg>
            </a>
          </div>
        </div>
      </div>

      <div class="article-tab">
        <nz-tabset nzCentered>
          <nz-tab nzTitle="Comments">
            <h2 class="leave-a-comment-header">
              Leave a comment
            </h2>




            <app-text-editor></app-text-editor>

            <p class="comment-area-paragraph">
              This textbox defaults to using <strong>Markdown</strong>  to format your answer.
            </p>
            <p class="comment-area-paragraph">
              You can type <strong>!ref</strong> in this text area to quickly search our full set of tutorials, documentation & marketplace offerings and insert the link!
            </p>

            <div class="comment-button-container">
              <button class="comment-button">
                Comment
              </button>
            </div>


          </nz-tab>
          <nz-tab nzTitle="Follow-up Questions">Content of Tab Pane 2</nz-tab>
        </nz-tabset>
      </div>


    </div>
    <div class="col-md-2">
      <div class="popular-topics-container sticky">
        <div class="popular-topics-content">
          <div class="popular-tutorial-side-item">
            <div class="popular-tutorial-item">
              <h3 class="popular-tutorial-title">Scale with more droplets</h3>
              <p class="popular-tutorial-paragraph">
                We’ve designed our Droplets to help you dependably and reliably scale. Add more Droplets direct from your dashboard!
              </p>
              <p class="popular-tutorial-paragraph">
                <a href="" class="popular-tutorial-link">
                  Get Started
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707l-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
                </a>
              </p>
            </div>
          </div>
          <div class="popular-topics-side-item">
            <h3 class="popular-topics-title">Popular Topics</h3>
            <ul class="popular-topics-list">
              <li class="popular-topic">
                <a href="" class="popular-topic-link">Ubuntu</a>
              </li>
              <li class="popular-topic">
                <a href="" class="popular-topic-link">Linux Basics</a>
              </li>
              <li class="popular-topic">
                <a href="" class="popular-topic-link">JavaScript</a>
              </li>
              <li class="popular-topic">
                <a href="" class="popular-topic-link">Python</a>
              </li>
              <li class="popular-topic">
                <a href="" class="popular-topic-link">MySQL</a>
              </li>
              <li class="popular-topic">
                <a href="" class="popular-topic-link">Docker</a>
              </li>
              <li class="popular-topic">
                <a href="" class="popular-topic-link">Kubernetes</a>
              </li>
              <li class="popular-topic">
                <a href="" class="all-link">
                  All Tutorials
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707l-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
                </a>
              </li>
              <li class="popular-topic popular-topic-last">
                <a href="" class="all-link">
                  Free Managed Hosting
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707l-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="sticky" style="padding: 40px; background-color: #555; font-size: 24px">Sticky Div</div>
<h2>
  Scroll again to the top to "remove" the sticky position.
</h2>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap
  into electronic typesetting, remaining essentially unchanged. It was
  popularised in the 1960s with the release of Letraset sheets containing
  Lorem Ipsum passages, and more recently with desktop publishing software
  like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is
  simply dummy text of the printing and typesetting industry. Lorem Ipsum
  has been the industry's standard dummy text ever since the 1500s, when
  an unknown printer took a galley of type and scrambled it to make a
  type specimen book. It has survived not only five centuries, but also
  the leap into electronic typesetting, remaining essentially unchanged.
  It was popularised in the 1960s with the release of Letraset sheets containing
  Lorem Ipsum passages, and more recently with desktop publishing software
  like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply
  dummy text of the printing and typesetting industry. Lorem Ipsum has been
  the industry's standard dummy text ever since the 1500s, when an unknown
  printer took a galley of type and scrambled it to make a type specimen book.
  It has survived not only five centuries, but also the leap into electronic typesetting,
  remaining essentially unchanged. It was popularised in the 1960s with the release of
  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
  publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem
  Ipsum is simply dummy text of the printing and typesetting industry. Lorem
  Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a
  type specimen book. It has survived not only five centuries, but also
  the leap into electronic typesetting, remaining essentially unchanged.
  It was popularised in the 1960s with the release of Letraset sheets
  containing Lorem Ipsum passages, and more recently with desktop publishing
  software like Aldus PageMaker including versions of Lorem Ipsum.Lorem
  Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the
  1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen book. It has survived not only five centuries, but
  also the leap into electronic typesetting, remaining essentially unchanged.
  It was popularised in the 1960s with the release of Letraset sheets containing
  Lorem Ipsum passages, and more recently with desktop publishing software like
  Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy
  text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of
  type and scrambled it to make a type specimen book. It has survived not only five
  centuries, but also the leap into electronic typesetting, remaining essentially
  unchanged. It was popularised in the 1960s with the release of Letraset sheets
  containing Lorem Ipsum passages, and more recently with desktop publishing
  software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum
  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
  been the industry's standard dummy text ever since the 1500s, when an unknown
  printer took a galley of type and scrambled it to make a type specimen book.
  It has survived not only five centuries, but also the leap into electronic typesetting,
  remaining essentially unchanged. It was popularised in the 1960s with the release of
  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
  publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is
  simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  and scrambled it to make a type specimen book.
</p>
