<span routerLink="../article">Article</span>

<div class="blog-carousel-area">
  <div class="blog-carousel-header">
    <h2 class="blog-carousel-title">News</h2>
    <div class="blog-carousel-button-area">
      <a href="" class="blog-carousel-button">View All</a>
    </div>
    <div class="blog-carousel-controls-area">
      <button class="blog-carousel-control" (click)="carouselItems.scroll(-3)" [class.disable]="!carouselItems.canScrollStart">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M10.53 5.47a.75.75 0 0 1 0 1.06l-4.72 4.72H20a.75.75 0 0 1 0 1.5H5.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"/></svg>
      </button>
      <button class="blog-carousel-control" (click)="carouselItems.scroll(3)" [class.disable]="!carouselItems.canScrollEnd">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M13.47 5.47a.75.75 0 0 1 1.06 0l6 6a.75.75 0 0 1 0 1.06l-6 6a.75.75 0 1 1-1.06-1.06l4.72-4.72H4a.75.75 0 0 1 0-1.5h14.19l-4.72-4.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/></svg>
      </button>
    </div>
  </div>

  <div class="blog-carousel-content-area" appScrollable #carouselItems="appScrollable" [scrollUnit]="150">
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b1.jpeg" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b2.jpeg" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b3.png" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b4.jpeg" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b5.png" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b6.jpeg" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b7.jpeg" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b8.jpeg" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="../article" class="blog-carousel-item col-lg-4 col-sm-12">
      <div class="blog-card">
        <span class="blog-link"></span>
        <div class="blog-card-img">
          <img src="/assets/images/b9.jpeg" class="blog-img" alt="">
        </div>
        <div class="blog-card-content">
          <h4 class="blog-card-content-title">
            SnapShooter introduces new features to back up the modern cloud
          </h4>
          <div class="blog-card-content-meta-data">
            <div class="blog-author-details">
              <div class="blog-author-styled">
                <a href="" class="blog-auther-link">
                  Deepak Manoor
                </a>
              </div>
            </div>
            <div class="blog-date-meta">
              <p>
                May 2, 2023
                <span style="margin: 0px 8px;">•</span>
                <span>4 min read</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

