<div class="row">
  <div class="col-lg-3">
    <div class="courses-sidebar">
      <div class="search-area">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
        </ng-template>
      </div>
      <div class="filter-pricing-type filter-card mt-3">
        <label nz-checkbox>Free</label>
        <nz-divider></nz-divider>
        <nz-collapse nzGhost>
          <nz-collapse-panel
            nzHeader="Paid"
            nzActive="true"
          >
            <p style="margin:0;">
              <label nz-checkbox>Premium</label>
              <label nz-checkbox>Gold</label>
            </p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
      <div class="filter-pricing-type filter-card mt-1">

        <nz-collapse nzGhost>
          <nz-collapse-panel
            nzHeader="Categories"
            nzActive="true">
            <label nz-checkbox>Premium</label>
            <nz-divider></nz-divider>

            <nz-collapse-panel
              nzHeader="Primary"
              nzActive="false">
              <label nz-checkbox>Premium</label>
              <nz-divider></nz-divider>
            </nz-collapse-panel>

            <nz-divider></nz-divider>

            <nz-collapse-panel
              nzHeader="O Level"
              nzActive="false">
              <label nz-checkbox>Premium</label>
              <nz-divider></nz-divider>
            </nz-collapse-panel>

            <nz-divider></nz-divider>

            <nz-collapse-panel
              nzHeader="A Level"
              nzActive="false">
              <label nz-checkbox>Premium</label>
              <nz-divider></nz-divider>
            </nz-collapse-panel>

            <nz-divider></nz-divider>

            <nz-collapse-panel
              nzHeader="Tertiary"
              nzActive="false">
              <label nz-checkbox>Premium</label>
              <nz-divider></nz-divider>
            </nz-collapse-panel>

          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="course-inner">
            <div routerLink="">
              <div class="course-image-box">
                <div class="course-image">
                  <img src="/assets/images/01_small-preview-banking-copy.webp" class="course-img" alt="">
                </div>
                <div class="course-button-container">
                  <a href="" class="course-detail-button">
                    <span class="course-add-to-card course-button-effect">Details</span>
                  </a>
                </div>
              </div>
              <div class="course-content">
                <div class="course-detail">
                  <h3 class="course-title">Oyun Gaming Lite</h3>
                  <p class="course-subtitle">Flutter UI Kit Free for Gaming Agency</p>
                  <div class="course-price-holder">
                    <div class="course-bottom-info">
                      <div class="course-category">
                  <span class="fundo-category">
                    <a class="fundo-category-a" href="https://iqonic.design/product-category/mobile/flutter/">Flutter</a>
                  </span>
                      </div>
                      <div class="course-price-container">
                  <span class="course-count">
                    254
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 2.75a9.25 9.25 0 1 0 0 18.5a9.25 9.25 0 0 0 0-18.5ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25S22.75 6.063 22.75 12S17.937 22.75 12 22.75S1.25 17.937 1.25 12ZM12 7.25a.75.75 0 0 1 .75.75v6.19l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72V8a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>
                    </span>
                  </span>
                        <span class="course-pricing-detail">
                    <span class="free-course">Free</span>
                  </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="course-inner">
            <div routerLink="">
              <div class="course-image-box">
                <div class="course-image">
                  <img src="/assets/images/01_small-preview-banking.webp" class="course-img" alt="">
                </div>
                <div class="course-button-container">
                  <a href="" class="course-detail-button">
                    <span class="course-add-to-card course-button-effect">Details</span>
                  </a>
                </div>
              </div>
              <div class="course-content">
                <div class="course-detail">
                  <h3 class="course-title">Oyun Gaming Lite</h3>
                  <p class="course-subtitle">Flutter UI Kit Free for Gaming Agency</p>
                  <div class="course-price-holder">
                    <div class="course-bottom-info">
                      <div class="course-category">
                  <span class="fundo-category">
                    <a class="fundo-category-a" href="https://iqonic.design/product-category/mobile/flutter/">Flutter</a>
                  </span>
                      </div>
                      <div class="course-price-container">
                  <span class="course-count">
                    254
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 2.75a9.25 9.25 0 1 0 0 18.5a9.25 9.25 0 0 0 0-18.5ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25S22.75 6.063 22.75 12S17.937 22.75 12 22.75S1.25 17.937 1.25 12ZM12 7.25a.75.75 0 0 1 .75.75v6.19l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72V8a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>
                    </span>
                  </span>
                        <span class="course-pricing-detail">
                    <span class="free-course">Free</span>
                  </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="course-inner">
            <div routerLink="">
              <div class="course-image-box">
                <div class="course-image">
                  <img src="/assets/images/01_small-preview-banking-1.webp" class="course-img" alt="">
                </div>
                <div class="course-button-container">
                  <a href="" class="course-detail-button">
                    <span class="course-add-to-card course-button-effect">Details</span>
                  </a>
                </div>
              </div>
              <div class="course-content">
                <div class="course-detail">
                  <h3 class="course-title">Oyun Gaming Lite</h3>
                  <p class="course-subtitle">Flutter UI Kit Free for Gaming Agency</p>
                  <div class="course-price-holder">
                    <div class="course-bottom-info">
                      <div class="course-category">
                  <span class="fundo-category">
                    <a class="fundo-category-a" href="https://iqonic.design/product-category/mobile/flutter/">Flutter</a>
                  </span>
                      </div>
                      <div class="course-price-container">
                  <span class="course-count">
                    254
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 2.75a9.25 9.25 0 1 0 0 18.5a9.25 9.25 0 0 0 0-18.5ZM1.25 12C1.25 6.063 6.063 1.25 12 1.25S22.75 6.063 22.75 12S17.937 22.75 12 22.75S1.25 17.937 1.25 12ZM12 7.25a.75.75 0 0 1 .75.75v6.19l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72V8a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd"/></svg>
                    </span>
                  </span>
                        <span class="course-pricing-detail">
                    <span class="free-course">Free</span>
                  </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

